.idea/fait_backend_suneelr.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/
models/__pycache__/__init__.cpython-312.pyc
models/__pycache__/question_type.cpython-312.pyc
routers/__pycache__/__init__.cpython-312.pyc
routers/__pycache__/question_type.cpython-312.pyc
utils/__pycache__/__init__.cpython-312.pyc
validations/__pycache__/__init__.cpython-312.pyc
validations/__pycache__/config.cpython-312.pyc
validations/__pycache__/question_type.cpython-312.pyc
validations/__pycache__/learning_network.cpython-312.pyc
routers/__pycache__/qualifications.cpython-312.pyc
routers/__pycache__/learning_network.cpython-312.pyc
